@import 'tailwindcss';

/* Your custom styles can go below */
body {
  @apply bg-gray-900 text-white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-950;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-800 rounded-full border-2 border-gray-950;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-700;
}

/* For the license text area which is on a lighter background */
.bg-gray-900 ::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

.bg-gray-900 ::-webkit-scrollbar-thumb {
  @apply bg-gray-700 border-gray-900;
}

.bg-gray-900 ::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-600;
}
